/*2.Стилизация: кнопка должна быть зеленая, вокруг */
/*инпута должна быть красная граница, размер кнопки и */
/*инпута - больше стандартного. Добавить паддинги в инпут.*/

.container {
    text-align: center;

}

.button {
    background-color: #4CAF50;
    border: none;
    margin: 4px 2px;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.search {
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    font-size: 16px;
}